@using Microsoft.AspNet.Identity

<ul class="nav">
    @*<li>
        <a href="@Url.Action("Register", "Account")" id="registerLink" class="button"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register</a>
    </li>*@

    <li>
        <a href="@Url.Action("Login", "Account")" id="loginLink" class="btn btn-default" ><span class="glyphicon glyphicon-log-in" ></span> Log in</a>
    </li>
</ul>

