
@{
    ViewBag.Title = "Culvert Condition & Repair Cost By Section";
}

<h2>Culvert Condition & Repair Cost By Section</h2>

@using (Html.BeginForm())
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title panel-info">Please select <b>Inspection Year</b> and <b>District</b> from the dropdown list</h3>
        </div>
        <div class="panel-body">

            @Html.AntiForgeryToken()

            <div class="row form-group form-group-sm">
                <div class="col-md-8">
                    <div class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label for="ddlDistrict" class="control-label col-md-2">District</label>
                            <div class="col-md-8">
                                @Html.DropDownList("ddlDistrict", (List<SelectListItem>)ViewBag.Districts, new { @class = "form-control" })
                                <label class="control-label" id="distrIdDIV"> <!-- District id appears here --> </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-1 navbar-right">
                    <a href="javascript:$('#ddlDistrict').trigger('change')" class="btn btn-primary" data-toggle="tooltip" title="Refresh" id="refresh"> <span class="glyphicon glyphicon-refresh"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div id="culvertconditionandrepaircost">
        <!-- Culvert condition and repair cost display here -->
    </div>
}

<div id="wait" align="center" style="display: none">
    <img src="~/images/ajax-loader-big.gif" />
</div>

<script>
    $(document).ready(function () {
        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#distrIdDIV').text(""); //clear district no. indicator
            $('#culvertconditionandrepaircost').empty(); // clear the culvert condition and repair cost placeholder

            if (selDistrictId != "0") // Some district is selected
            {
                $('#distrIdDIV').text("District Id = " + selDistrictId );
                $.ajax({
                    url: '@Url.Action("_GetConditionAndRepairCostBySection", "CulvertReportsInspection")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#culvertconditionandrepaircost').html(data);
                    }
                });
            }
        });

        $('#refresh').click(function () {
            $('#ddlDistrict').trigger('change');
        });
    });
</script>
