
@{
    ViewBag.Title = "Temp";
}

<h2>Temp</h2>
<!-- Tab Buttons -->
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active">
        <a href="#_FirstTab" role="tab" data-toggle="tab">Submission</a>
    </li>
    <li>
        <a href="#_SecondTab" role="tab" data-toggle="tab">Search</a>
    </li>
</ul>

<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="_FirstTab">
        <!-- Call partial view to load initial page load data -->
        @*@Html.Partial("_EditPartial", new ViewDataDictionary { { "id", 1 } })*@
        @*@{Html.RenderPartial("Edit", Model, new ViewDataDictionary { { "id", 1 } });}*@
        @*@{Html.RenderPartial("Edit", null, new ViewDataDictionary { { "id", 1 } });}*@
        @{Html.RenderPartial("Edit");}
    </div>
    <div class="tab-pane fade" id="_SecondTab">
        @Html.Partial("Create")

    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('#tabstrip').click(function (e) {
        //e.preventDefault()
        //var tabID = $(this).attr("href").substr(1);
        alert("Hello " + $(this).attr("href").substr(1));
        $(".tab-pane").each(function () {
            console.log("clearing " + $(this).attr("id") + " tab");
            $(this).empty();
        });

        $.ajax({
            url: '@Url.Action("Edit", "BridgeTypes")',
            cache: false,
            dataType: "html",
            data: { id: 1 },
            type: 'GET',
            success: function (result) {
                $("#" + tabID).html(result);
            }

        })
   $(this).tab('show')
});
</script>