
@{
    ViewBag.Title = "All Culverts (By District)";
}

<h2 align="center">All Culverts (By District)</h2>

<div class="panel panel-default">
    @*<div class="panel-heading">
            <h3 class="panel-title panel-info">Please select <b>District</b> from the dropdown list</h3>
        </div>*@
    <div class="panel-body">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-xs-10">
                <div class="form-group form-group">
                    <label class="control-label col-ss-4 col-xs-3">District</label>
                    <div class="col-sm-8 col-xs-6">
                        @Html.DropDownList("ddlDistrict", new SelectList(ViewBag.Districts, "Value", "Text"), new { @class = "form-control" })
                        <!--<label class="control-label" id="distrIdDIV">--> <!-- District id appears here --> <!--</label>-->
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-2 navbar-right">
            <a class="btn btn-primary" data-toggle="tooltip" title="Refresh" id="refresh"> <span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </div>
</div>

<div id="culvertsPartial">
    <!-- Culverts list displays here -->
</div>

<div id="wait" align="center" style="display: none">
    <img src="~/images/ajax-loader-big.gif" />
</div>

<script>
    $(document).ready(function () {
        $('#ddlDistrict').change(function () {
            var selDistrictId = $('#ddlDistrict option:selected').val();
            $('#distrIdDIV').text(""); //clear district no. indicator
            $('#culvertsPartial').empty(); //clear the culverts list place holder

            if (selDistrictId != "0") //if some district is selected
            {
                $('#distrIdDIV').text("District No. = " + selDistrictId);

                $.ajax({
                    url: '@Url.Action("_GetAllCulvertsByDistrict", "CulvertReportsCensus")',
                    data: { districtid: selDistrictId },
                    type: 'GET',
                    dataType: 'html',
                    beforeSend: function () { $('#wait').show(); },
                    complete: function () { $('#wait').hide(); },
                    success: function (data) {
                        $('#culvertsPartial').html(data);
                    }
                });
            }
        });
    });

    $('#refresh').click(function () {
        $('#ddlDistrict').trigger('change');
    });
</script>


