@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Message</h2>

<div class="row">
    <div class="col-xs-6 col-md-2"><img src="~/images/era_logo.png" alt="ERA LOGO" width="125" height="125"></div>
    <div class="col-xs-6 col-md-10">
        <br />
        <p>Ethiopian Roads Authority - Bridge and Culvert Management System</p>
        <p>Version: <span style="font-style: italic">6.0.0 (Prototype)</span></p>
        <p>&copy; 2005-@DateTime.Now.Year ERA. All rights reserved.
    </div>
</div>
