@{
    ViewBag.Title = "Contact";
    ViewBag.LeftMenuSelection = "contact";
}
<h2>@ViewBag.Title</h2>

<address>
    <b>Ethiopian Roads Administration<br /></b>
    Address: Ras-Abebe Aregay Street in front of Wabe Shebele Hotel<br />
    <abbr title="P.O.Box">P.O.Box 1770</abbr><br />
    Addis Ababa, ETHIOPIA <br />
    <abbr title="Phone">Phone: +251-11-551 71 70</abbr><br />
    <br />
    Ato Yared Shewangizaw, ICT Director<br />
    <abbr title="Phone">Phone: +251-92-285 22 55</abbr><br />
    <br />
    Eng. Girma Worku , Bridge Management Team<br />
    <abbr title="Phone">Phone: +251-11-551 63 72</abbr><br />
    Email:   <a href="mailto: wkgirma@gmail.com">wkgirma@gmail.com</a><br />
</address>                                                                                                                   