@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ethiopian Roads Authority<br />
    <abbr title="P.O.Box">P.O.Box 1234</abbr><br />
    <abbr title="Phone">Phone: +251-11-551 63 72</abbr><br />
    Addis Ababa, ETHIOPIA
</address>

<address>
    <strong>Support:</strong>   <a href="mailto: support@erabms.com">support@erabms.com</a><br />
</address>                                                                                                                            