@using ERA_BMS.Models

@{
    ViewBag.Title = "Main/Sub Routes";
}

<h2>Main/Sub Routes</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Tab Buttons -->
    <ul id="tabstrip" class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#_MainRoutesTab" role="tab" data-toggle="tab" id="mainroutetab">Main Routes</a>
        </li>
        <li>
            <a href="#_SubRoutesTab" role="tab" data-toggle="tab" id="subroutetab">Sub Routes</a>
        </li>
    </ul>

    <!-- Tab Content Containers -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="_MainRoutesTab">
            <div id="mainroutes">
                <!-- Main Routes display here -->
            </div>
        </div>
        <div class="tab-pane fade" id="_SubRoutesTab">
            <div id="subroutes">
                <!-- Sub Routes display here -->
                @*@if (ViewBag.SubRouteList.Count > 0)
                    {
                        @Html.Partial("_GetSubRouteList", (List<SubRoute>) ViewBag.SubRouteList, new ViewDataDictionary(this.Vi‌​ewData) {{ "MainRoutes", ViewBag.MainRoutes }, { "MainRouteId", ViewBag.MainRouteId } });
                    }*@
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        LoadMainRouteList();
        LoadSubRouteList();

        function LoadMainRouteList() {
            $.ajax({
                url: '@Url.Action("MainRoutes", "Routes",  new { area = "Admin" })',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#mainroutes').html(data);
                }
            });
        }

        function LoadSubRouteList() {
            $.ajax({
                url: '@Url.Action("SubRoutes", "Routes",  new { area = "Admin" })',
                type: 'GET',
                dataType: 'html',
                success: function (data) {
                    $('#subroutes').html(data);
                }
            });
        }

        $('#mainroutetab').click(function () {
            LoadMainRouteList();
        });

        $('#subroutetab').click(function () {
            LoadSubRouteList();
        });
    });
</script>



